@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;700&display=swap');
body {margin:0;}

a {
  display: inline-block;
  padding: 1em 3.5em;
  background-color: var(--color);
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0.3em;
  font-weight: 700;
  letter-spacing: .5px;
  font-size: .875rem;
}
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  float: right;
  top: 0;
  width: 100%;
}

.topnav-right {
    float: right;
}
.navbar a.active
{
    background-color: #f9dede;
    color: black;
}
.noHover{
  color: transparent;
}
.navbar-logo {
  background:transparent;
  
}
.navbar-logo a:hover {
 background: transparent;
 color: transparent;
}
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.navbar a:hover {
  background: #ddd;
  color: black;
}

.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px; /* Used in this example to enable scrolling */
}
form
{
    margin-top: 50px;
    transition: all 4s ease-in-out;
}
.form-control
{
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    color: black;
    font-size: 18px;
    margin-bottom: 16px;
}
input
{
    height : 45px;
}
form .submit
{
    background: #ff5722;
    border-color: transparent;
    color: white;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
}
.container {
  background-image: url('Painting.jpg');
  background-position:top;
  background-size: cover;
  height: 350px;
  width: 100%;
}

.content {
  margin: 0 auto;
  max-width: 800px;
  padding: 50px;
  text-align: center;
}